<div class="col-3 text-center">
    <div class="sticky-top" id="side-menu">
        <br>
        <br>
        <h5>Filters</h5>
        <p class=""><a href="/categories">Scientific Discipline</a></p>
        <p class=""><a href="/keywords">Tags</a></p>
        <p class="">Date (enter below)</p>
        <div class="input-group m-auto" style="width: 80%">
          <input type="text" class="form-control" id="dateSearch" placeholder="yyyy/mm/dd">
        </div>
    </div>
</div>