<!DOCTYPE html>
<html lang="en">
    <head>
        <% include meta.ejs%>
        <title>About PodScholar - PodScholar</title>
        <% include commonHead%>
        <% include starstyle%>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <% include navbar%>
        </nav>
        <header class="masthead" style="background-image: url('/images/about-bg.jpeg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About PodScholar</h1>
                            <span class="subheading">Upload. Listen. Share.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>PodScholar is a platform for scholars to podcast their published work. Each podcast provides the scholar an opportunity to discuss their manuscript with an informative and conversational tone. Each podcast is created by a scholar or research group and each podcast corresponds to one of the scholar’s published articles. Scholars are encouraged to discuss all main parts of the published work including, but not limited to the introduction, methods, results and discussion sections. Scholars now have a platform to broadcast their work as a dialogue in which they have autonomy as to how they want to explain and discuss their own scholarship. The rules for podcasting are straight forward, but the most basic rule is one podcast per one published article!</p>
                        <p>Currently, PodScholar podcasts are limited to a 20-minute maximum duration. Podcasts include the journal link to help listeners find the published article for further reading and dissemination. The PodScholar audio library will increase as more scholars upload their content. Any published scholarship can be podcasted and uploaded, regardless of date published and discipline. PodScholar aims to create the world’s largest audio library of scholarly activity which is created and narrated by the professionals who conducted the research. Join the PodScholar community to upload, listen, and share! </p>
                    </div>
                </div>
            </div>
        </main>
        <% include commonBody%>
    </body>
</html>