<!DOCTYPE html>
<html lang="en">
    <head>
        <% include meta.ejs%>
        <title>Create PodCast - PodScholar</title>
        <% include commonHead%>
        <% include starstyle%>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <% include navbar%>
        </nav>
        <header class="masthead" style="background-image: url('/images/about-bg.jpeg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Create your podcast</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="mb-4">
            <div class="w-100 m-0">
                <div class="row justify-content-center w-100 mr-0">
                    <div class="col-12">
                        <h5 class="text-center">Podcast</h5>
                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Title</span>
                          </div>
                          <input type="text" class="form-control" id="title">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                          </div>
                          <input type="text" class="form-control" id="description">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">URL to audio file</span>
                          </div>
                          <input type="text" class="form-control" id="audio">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">URL to bibtex file</span>
                          </div>
                          <input type="text" class="form-control" id="bibtex">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">URL of manuscript</span>
                          </div>
                          <input type="text" class="form-control" id="url_manuscript">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">DOI</span>
                          </div>
                          <input type="text" class="form-control" id="doi">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Scientific disciplines</span>
                          </div>
                          <input type="text" class="form-control" id="scientific_disciplines">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Tags</span>
                          </div>
                          <input type="text" class="form-control" id="tags">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Authors' names</span>
                          </div>
                          <input type="text" class="form-control" id="author_names">
                        </div>

                        <div class="input-group m-auto" style="width: 40%">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Authors' emails</span>
                          </div>
                          <input type="text" class="form-control" id="author_emails">
                        </div>

                        <div class="m-auto mt-3 text-center" style="width: 40%">
                          <button class="btn btn-outline-primary" type="button" id="create">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <% include commonBody%>
        <script>
            $('#create').on('click', async function(e) {
                if($('#title').val().length <= 0) {
                    alert('Please provide title')
                    return
                }

                if($('#audio').val().length < 0) {
                    alert('Plesae provide URL to audio file')
                    return
                }

                if($('#author_names').val().split(',').length != $('#author_emails').val().split(',').length) {
                    alert(`Number of author names does not match number of author emails`)
                    return
                }

                await create()
            })

            async function create() {
                let data = {
                    title: $('#title').val(),
                    description: $('#description').val(),
                    audio: $('#audio').val(),
                    bibtex: $('#bibtex').val(),
                    url_manuscript: $('#url_manuscript').val(),
                    doi: $('#doi').val(),
                    scientific_disciplines: $('#scientific_disciplines').val().split(','),
                    tags: $('#tags').val().split(','),
                    author_names: $('#author_names').val().split(','),
                    author_emails: $('#author_emails').val().split(','),
                    likes: 0,
                    saved: 0,
                    reports: [],
                    comments: [],
                    date: new Date().toISOString().split('T')[0].replaceAll('-', '/')
                }

                $.LoadingOverlay('show')
                $.ajax({
                    type: 'POST',
                    url: '/api/podcasts',
                    data: JSON.stringify(data),
                    statusCode: {
                        404: () => {
                            alert('Not found')
                        }
                    },
                    success: (result) => {
                        alert('You have uploaded a podcast!')
                        $.LoadingOverlay('hide')
                    },
                    error: () => {
                        $.LoadingOverlay('hide')
                    }
                })
            }
        </script>
    </body>
</html>